body{
    background-color: #e4e6d9;
}

#header-container{
    text-align: center;
    padding: 50px;
    background-color: #49654e;
    color: white;
}

h1{
    font-size: 3rem;
}

.main-container{
    margin: 100px 200px 100px 200px;
    padding: 100px;
    border-radius: 2px;
    background-color: #ecede8;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    background-color: #333;
    border: none;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    outline: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #8ba889;
    color: white;
}

.h2-subtitle{
    margin-bottom: 60px;
}

.first-menu{
    margin-left: 200px;
}

.basket-menu{
    position:absolute;
    right: 0;
    margin-right: 200px;
}

.button{
    border-radius: 5px;
    border: 2px solid;
    color: #ecede8;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none !important;
}

.button-auth{
    text-align: right;
}

.button-login{
    border-color: #8ba889;
    background-color: #ecede8;
    color: #8ba889;
}

.button-login:hover{
    background-color: #8ba889;
    color: #ecede8;
    transition: 0.3s;
}

.button-register{
    border-color: #8ba889;
    background-color: #8ba889;
}

.button-register:hover{
    border-color: #49654e;
    background-color: #49654e;
    transition: 0.3s;
}

.button-logout{
    border-color: #8ba889;
    background-color: #ecede8;
    color: #8ba889;
}

.button-logout:hover{
    background-color: #8ba889;
    color: #ecede8;
    transition: 0.3s;
}

.h2-header-subtitle{
    margin-bottom: 30px;
}

.login-form{
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 50px 20px 50px 20px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #8ba889;
    background-color: #8ba889;
    color: white;
}

.login-container{
    text-align: center;
}

.button-form-login{
    margin-top: 25px;
    border-radius: 5px;
    border: 2px solid;
    color: #ecede8;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-color: #ecede8;
    background-color: #8ba889;
}

.button-form-login:hover{
    background-color: #49654e;
    border-color: #49654e;
    transition: 0.3s;
}

.button-form-register{
    color: #8ba889;
    border-color: #ecede8;
    background-color: #ecede8;
    margin-left: 10%;
}

.button-form-register:hover{
    color: #ecede8;
    border-color: #49654e;
    transition: 0.3s;
}

.font-apple{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 500;
}

.register-form{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 50px 20px 50px 20px;
}

.text-error{
    color: red;
}

.profile-container{
    margin: 120px 200px 30px 200px;
    padding: 40px 100px 40px 100px;
    border-radius: 2px;
    background-color: #ecede8;
}

.locale-container{
    margin: 30px 200px 30px 200px;
    float: right;
}

.button-category{
    border: none;
    background-color: darkslategray;
    color: #ecede8;
    padding: 10px 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    outline: none !important;
    width: 100%;
}

.button-category:hover{
    background-color: slategray;
    transition: 0.2s;
}

.button-back{
    float: right;
    border: 2px solid;
    background-color: darkslategray;
    color: #ecede8;
    padding: 10px 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    outline: none !important;
}

.button-product{
    border: none;
    background-color: #8ba889;
    color: #ecede8;
    padding: 10px 25px;
    margin-bottom: 60px;
    font-size: 18px;
    outline: none !important;
    width: 100%;
    text-align: left !important;
}

.button-product:hover{
    background-color: #49654e;
    text-decoration: underline;
    transition: 0.3s;
}

.button-add-basket{
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #ffa500;
    padding: 10px 25px;
    text-align: center;
    font-size: 16px;
    outline: none !important;
}

.button-add-basket:hover{
    text-decoration: underline;
    transition: 0.3s;
}

.img-product{
    max-width: 100%;
}

.img-product:hover{
    cursor: pointer;
    border-width: 3px 3px 0px 3px;
    border-style: solid;
    border-color: #8ba889;
}

.details-container{
    margin-top: 100px;
}

.img-details{
    max-width: 100%;
}

.basket-price{
    font-weight: 400;
    font-size: 18px;
    color: red;
}

.basket-total-price{
    font-weight: 500;
    text-align: right;
    font-size: 20px;
    color: red;
}

.link-update-basket{
    visibility: hidden;
    font-size: 16px;
    color: red;
}

.link-delete-basket{
    font-size: 16px;
}

.product-infos-basket{
    text-align: right;
}

.button-order-basket{
    margin-top: 50px;
    width: 30%;
    border: none;
    border-radius: 5px;
    background-color: #ffa500;
    padding: 10px 25px;
    font-size: 16px;
    outline: none !important;
}

.button-order-basket:hover{
    text-decoration: underline;
    transition: 0.3s;
}